h1 {
    background-color: black;
    width: fit-content;
    color: white;
}
img {

    height: 200px;
    width: 250px;
}
iframe{
    padding: 20px;
}
a{
    color: white;
    text-decoration: solid;
}
h6{
    color: black;
}