h1 {
    width: fit-content;
    color: black
}
img {

    height: 200px;
    width: 250px;
}
iframe{
    padding: 20px;
}
a{
    color: black;
    text-decoration: solid;
}
h6{
    color: black;
}
.retro {
    font-family: "Audiowide", sans-serif;
    font-weight: 450;
    font-style: normal;
  }
h3 {
    text-align: center;
    color: black;
}
  