html {
    background-color: black;
}
h1{
    color: white;
    text-align: center;
}
p {
    color: white;
    text-align: center;
}
h4{
    color: aliceblue;
    text-align: center;
}
.center{
    text-align: center;
}






