html {
    background-color: black;
}
h1{
    color: white;
    text-align: center;
}
p {
    color: white;
    text-align: center;
}
h4{
    color: aliceblue;
    text-align: center;
}
.center{
    text-align: center;
}
img{
    height: 30px;
    width: 40px;
}
h3{
    text-align: center;
    color: aliceblue;
}

div {
    text-align: center;
}
a {
    text-decoration: dotted;
   color: aliceblue;
}
.abur {
    font-family: "Aubrey", system-ui;
    font-weight: 400;
    font-style: normal;
  }



