html {
    background-color: black;
}
h1{
    color: white;
    text-align: center;
}
p {
    color: white;
    text-align: center;
}
h4{
    color: aliceblue;
    text-align: center;
}
.center{
    text-align: center;
}
img{
    height: 30px;
    width: 40px;
}
h3{
    text-align: center;
    color: aliceblue;
}

div {
    text-align: center;
}
a {
    text-decoration: dotted;
   color: aliceblue;
}
.abur {
    font-family: "Aubrey", system-ui;
    font-weight: 400;
    font-style: normal;
  }

.random-songs {
    background-color: purple;
    height: 150px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Style for the song button */
#songButton {
    width: 20%;
    height: 45%;
}