h1 {color:aliceblue;}
body {
    background-color: black;
}
p {color:white;

}
h2{
    color: white;
}

.about-section {
    background-color: purple;
    width: fit-content;
    padding: 3px;
}
.music-section {
    background-color: purple;
    width: fit-content;
    padding: 2px;
}

.am-song{
    background-color: white;
    width: fit-content;
    /*padding: 50px;*/
    text-align: center;
    
}
ol {
    color: black;
    background-color: white;
   width: fit-content;
   padding: 30px;
   text-align: center;
}
a {
    color: white;  
}

.music-container {
    display: flex;
    justify-content: flex-end;
}